.title{
    color: rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    justify-content: center;

    transition-duration: 10s;
    color: rgb(0, 191, 255);
}
.canv{
    width: 250px;
    height: 200px;
    border: 1px,solid,black;
    overflow:hidden;
}

.pic{
    transition-duration: 3s;
    transform: translate(500px,0px);
}

