.title{
    color: rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    justify-content: center;

    transition-duration: 10s;
    color: rgb(0, 191, 255);
}
.canv{
    width: 200px;
    height: 150px;
    border: 1px,solid,black;
    overflow:hidden;
}

.pic{
    width: 200px;
    height: 150px;
    display: flex;
}

@keyframes move{
    0%{transform: translate(-200px,0px);}
    100%{transform: translate(0px,0px);}
}

#box{
    transform: translate(-200px,0px);
    width: 400px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    margin-left: 0px;
    transition-duration: 3s;
}
#button{
    width: 20px;
    height: 50px;
    transform: translate(0px,50px);
}
.frame{
    display: flex;
    align-items: flex-start;
}