.title{
    color: rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    justify-content: center;

    transition-duration: 10s;
    color: rgb(0, 191, 255);
}
.canv{
    width: 200px;
    height: 150px;
    border: 1px,solid,black;
    overflow:hidden;
}

.pic{
    width: 200px;
    height: 150px;
    display: flex;
}

#box{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    transition-duration: 1s;
}


.button{
    width: 20px;
    height: 50px;
    transform: translate(0px,50px);
}

.frame{
    display: flex;
    align-items: flex-start;
}

.mid{
    display: flex;
    justify-content: center;
}
.midCanv{
    width: 400px;
    height: 300px;
    border: 1px,solid,black;
    overflow:hidden;
}
.midPic{
    width: 400px;
    height: 300px;
    display: flex;
}
.midButton{
    width: 20px;
    height: 100px;
    transform: translate(0px,100px);
}

.map{
    width: 666px;
    height: 100%;
    display: flex;
   
}
.mapBox{
    width: 666px;
    height: min-content;
    display: flex;
    margin: auto;
}
.link{
    display: flex;
    width: min-content;
    height: min-content;
    transform: translate(-250px,0px);
    background-color:rgba(0, 0, 0, 0);
}
.pin{
    display: flex;
    width: 25px;
    height: 40px;  
}
