.title{
    color: rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    justify-content: center;

    transition-duration: 10s;
    color: rgb(0, 191, 255);
}
.canv{
    width: 200px;
    height: 150px;
    border: 1px,solid,black;
    overflow:hidden;
}

.pic{
    width: 200px;
    height: 150px;
    display: flex;
}

#box{
    width: 200px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    transition-duration: 1s;
}


.button{
    width: 20px;
    height: 50px;
    transform: translate(0px,50px);
}

.frame{
    display: flex;
    align-items: flex-start;
}

.mid{
    display: flex;
    justify-content: center;
}
.midCanv{
    width: 400px;
    height: 300px;
    border: 1px,solid,black;
    overflow:hidden;
}
.midPic{
    width: 400px;
    height: 300px;
    display: flex;
}
.midButton{
    width: 20px;
    height: 100px;
    transform: translate(0px,100px);
}

.map{
    width: 666px;
    height: 100%;
    display: flex;
   
}
.mapBox{
    width: 666px;
    height: min-content;
    display: flex;
    margin: auto;
}
.pinButton{
    display:flex;
    position:absolute;
    width: min-content;
    height: min-content;
    background-color:rgba(0, 0, 0, 0);
    border: none;
}
.pin{
    display: flex;
    width: 25px;
    height: 40px;  
}
.pin:hover{
    opacity: 80%;
}
.pinImageDiv{
    width: 240px;
    height: 1;
    display: none;
}
.pinImage{
    border: 1px solid rgb(100, 100, 100);
    width: 240px;
    height: 100%;
}

.pinLinkDiv{
    transform: translate(0px, 30px);
    font-size: 22px;
}

.pinLink{
    text-decoration: none;
}
@keyframes r {
    0%{background-color: rgb(255, 110, 110);}
    20%{background-color: rgb(255, 200, 111);}
    40%{background-color: rgb(255, 255, 111);}
    60%{background-color: rgb(130, 255, 130);}
    80%{background-color: rgb(130, 130, 255);}
    100%{background-color: rgb(255, 130, 255);}
}
@keyframes r2 {
    0%{color: rgb(255, 110, 110);}
    20%{color: rgb(255, 200, 111);}
    40%{color: rgb(255, 255, 111);}
    60%{color: rgb(130, 255, 130);}
    80%{color: rgb(130, 130, 255);}
    100%{color: rgb(255, 130, 255);}
}
.rain{
    background-color: rgb(255, 110, 110);
    animation-name: r;
    animation-duration: 30s;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}
.rainText{
    text-shadow: 1px 1px 3px black;
    color: rgb(255, 110, 110);
    animation-name: r2;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

a{
    text-decoration: none
}

.midPrice{
    font-size: 30px;
    display: flex;
    justify-content: center;
    transform: translate(0px,40px);
}

.altFrame{
    transform: translate(100px,100px);
}