header{
    position: fixed;
    transform: translate(-8px,-10px);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    height: min-content;
    padding: 10px;
    background-color: #FCF5EE;
    z-index: 100;
}
body{
    background-color: #FCF5EE;
}

.mainDiv{
    display: flex;
    justify-content: center;
    margin: auto;
}

.searchbox{
    background-color: #443C68;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-content: left;
    min-width: 350px;
    width: 30%;
}
.segment{
    background-color: #F5F5F5;
    color: #18122B;
    padding: 12px;
    border-radius: 8px;
    margin: 4px;
}
.searchBtn{
    padding: 12px;
    border-radius: 8px;
    margin: 4px;
    background-color: #F54D42;
    width:34px;
    height: 34px;
}
.searchBtnBtn{
    height: 33px;
    padding: 0%;
    border: none;
    margin: 0%;
    background-color: #00000000;
    color: #18122B;
}


.BoxText{
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
    height: 100%;
}

.mapBtn{
    padding: 0%;
    border: none;
    margin: 0%;
    

    height: 34px;
    background-color: #5e5d5d;
    color: #18122B;
    font-size: 22px;
    display: flex;
    justify-items: left;

    padding: 12px;
    border-radius: 8px;
    margin: 16px;
    background-color: #F54D42;
    width:fit-content;
    height: 34px;
}


.resultsInfo{
    min-width: 450px;
    width: 40%;
    margin-top: 40px;
    font-size: 20px;
}

.shadowBox{
    border-radius: 8px;
    border: 1px solid #6359856c;
    padding: 12px;
    display: block;
    min-width: 450px;
    height: min-content;
    width: 40%;
    background-color: #F5F5F5;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    margin-right: 15px;
}

.resultImage{
    height: 150px;
    
}

.border{
    display: flex;
    height: 150px;
    width: 95%;
    border: 1px solid #635985;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: left;  
    background-color: #FCF5EE; 
}

.resultText{
    font-size: 20px;
    padding: 15px;
}

.price{
    color:#18122B;
}

.locationText{
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-items: left;
}
table{
    font-size: 12px;
}
.line{
    border-right: 5px solid #00000000;
}
sup{
    font-size: 8px;
}
img{
    pointer-events: none;
    user-select: none;
}
a:any-link{
    text-decoration: none;
    color: #18122B;
}

.searchBtn:hover{
    cursor:pointer;
}

.dropDownPos{
    display: none;
    position: absolute;
    top: 180px;
    z-index: 50;
}
.dropDownText{
    width: max-content;
    height: min-content;
    background-color: #F5F5F5;
    color: #18122B;
    margin: 0%;
    width: 130px;
    text-align: left;
}

.dropDownText:hover{
    background-color: #F0DECB;
    cursor: pointer;
}

.dropdownBtn{
    border: none;
    background-color: #00000000;
    display: flex;
    justify-content: left;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 130px;
}

.dropDown{
    width: 150px;
    height: 100px;
    background-color: #F5F5F5;
    color: #18122B;
    padding: 8px;
    border-radius: 8px;
    margin-left: 2px;
    border: 2px solid #6359856c;
    border-top: none;

    overflow-x: hidden;
    overflow-y: scroll;
}

#searchField:hover{
    cursor: text;
}
#searchField{
    z-index: 50;
}


#exit{
    opacity: 0%;
    display: none;
}
.exit{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    z-index: 49;
}

input{
    border: none;
    background-color: #00000000;
}

.front{
    z-index: 50;
}

.loc{
    width: fit-content;
}

.logo{
    display: flex;
    justify-content: left;
}

.images{
    width: 30%;
    overflow: hidden;
    height: fit-content;
}