
header{
    position: fixed;
    transform: translate(-8px,-10px);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    height: min-content;
    padding: 18px;
    background-color: #FCF5EE;
    z-index: 100;
    padding-bottom: 10px;
}
body{
    background-color: #FCF5EE;
    margin: 0%;
}
body::-webkit-scrollbar {
    display: none;
}
.mainDiv{
    display: flex;
    justify-content: center;
    margin: auto;
}
.border{
    display: flex;
    height: 150px;
    width: 95%;
    border: 1px solid #635985;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: left;  
    background-color: #FCF5EE; 
    min-width: fit-content;
}
.logo{
    display: flex;
    justify-content: left;
}
.BoxText{
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
    height: 100%;
}
a:any-link{
    text-decoration: none;
    color: #18122B;
}

.shadowBox{
    border-radius: 8px;
    border: 1px solid #6359856c;
    padding: 12px;
    display: block;
    min-width: 0px;
    height: min-content;
    width: 650px;
    background-color: #F5F5F5;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    margin-left: 15px;
    margin-right: 15px;
}

#imageContainer{
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    align-items: start;
    justify-items: left;
    width: 100%;
    height: min(55vw,fit-content);
}
.img{
    vertical-align: middle;
    height: 150px;
    width: 100%;
    pointer-events: all;
}

.imgDiv{
    overflow: hidden;
    border-radius: 8px;
    margin: 1px;
}
.image1{
    height: 300px;
}
.image1 > .img{
    height: 300px;
}
.image2{
    display: flex;
    justify-content: left;
    width: 50%; 
    height: min-content;
}
.image3{
    height: 150px;
}
.images1{
    width: calc((2%/3)*100);
    height: 100%;
}
.images2{
    display: flex;
}
.images3{
    display: block;
    width: calc((100% / 3));
    height: min-content;
}

.shadowBox{
    width: 900px;
    height: min-content;
    padding: 20px;
    transition-duration: 0s;
    min-width: 900px;
}  

.details{
    width: 90%;
    border: 1px solid #6359856c;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: #FCF5EE;
}

table{
    width: 80%;

    margin: auto;
}
td{
    text-align: center;
    width: 20%;
    font-size: 16px;
    color:#18122B;
}
.cell3{
    width: 33.33%;
}

strong{
    font-size: 24px;
}


.contact{
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 300px;
    transition-duration: 0s;
    min-width: 300px;
}
.contactTitle{
    font-size: 22px;
}
.contactSegment{
    background-color: #F54D42;
    padding: 12px;
    border-radius: 8px;
    height: 34px;
    display: flex;
    justify-content: center;
    margin: 12px;
    align-items: center;
    width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
}
.number{
    display: flex;
    align-items: center;
    height: fit-content;
    font-size: 24px;
}

.contactIcon{
    width: 34px;
    margin-right: 5px;
    height: min-content;
}

.titleBox{

    color: #18122B;
    margin-top: -15px;
    
    display: flex;
    justify-content: space-between;
    width: 100%;
}
sup{
    font-size: 16px;
}
 
.title{
    font-size: 34px;

    display: flex;
    width: calc(60% - 24px);
    height: min-content;
    align-items: center;
    font-weight:600;
}
.mapBtn2{
    width: 120px;
    height: min-content;
    display: flex;
    margin: auto;
    margin-right: 0%;
    padding: 10%;
    border-radius: 8px;
    background-color: #F54D42;
    align-items: center;
}
.mapLink{
    display: flex;
    width: calc(20% + 24px);
    justify-content: center;
    justify-items: center;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.MapBoxText{
    width: 28px;
    height: min-content;
    font-size: 28px;
    font-size: 28px;
}

.mapIcon{
    width: 34px;
    height: min-content;
}

.mainDiv{
    justify-content: center;
}

.space{
    height: 20px;
}
html{
    width: 100%;
}
@media screen and (max-width: 1300px) {
    #imageContainer{
        height: min(55vw,fit-content);
    }
    .shadowBox{
        width: 90%;
        margin: auto;
        margin-bottom: min(2vw, 24px);
        min-width: 0px;
    }
    .contact{
        width: 35%;
        min-width: 0%;
        padding: 5vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
        margin: auto;
    }
    .mainDiv{
        display: block;
        min-width: 0px;
    }
    td{
        font-size: min(2.2vw, 16px);
    }
    strong{
        font-size: min(2.2vw, 24px);
    }
    .contactTitle{
        font-size: min(2.5vw, 22px);
    }
    .number{
        font-size: min(2.3vw, 24px);
    }
    .contactIcon{
        width: min(2.2vw, 34px);
        margin-right: 0.5vw;
    }
    .contactSegment{
        height: min(2.3vw, 34px);
    }
    sup{
        font-size: min(1.8vw, 16px);
    }
    .title{
        font-size: min(2.2vw, 34px);
    }
    .mapBtn2{
        width: min(9vw,120px);
    }
    .MapBoxText{
        width: min(calc(70% * 1vw), 28px);
        height: min-content;
        font-size: min(2.5vw, 28px);
    }
    .mapIcon{
        width: min(2.2vw, 34px);
    }
    .space{
        height: min(1.4vw, 20px);
    }
    .image3{
        height: 17vw;
    }
    .image1{
        height: 34vw;
    }
    .image1 > .img{
        height: 34vw;
    }
    .img{
        height: 17vw;
    }
    .details{
        margin-top: 2vw;
    }
}