#imageContainer{
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    align-items: start;
    justify-items: left;
    width: 100%;
}
.img{
    vertical-align: middle;
    width: 100%;
    pointer-events: all;
}

.imgDiv{
    overflow: hidden;
    border-radius: 8px;
    margin: 1px;
}
.image1{
    width: 100%; 
    height: min-content;
}
.image2{
    display: flex;
    justify-content: left;
    width: 50%; 
    height: min-content;
}
.image3{
    width: 100%;
    height: min-content;
}
.images1{
    width: calc((2%/3)*100);
}
.images2{
    display: flex;
}
.images3{
    display: block;
    width: calc((1%/3)*100);
    height: min-content;
}

.shadowBox{
    width: 35%;
    height: min-content;
    padding: 20px;
    min-width: 0%;
    transition-duration: 1s;
}  

.details{
    width: 90%;
    border: 1px solid #6359856c;
    border-radius: 8px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: #FCF5EE;
}

table{
    width: 80%;
    margin: auto;
}
td{
    text-align: center;
    width: 20%;
    font-size: min(2.2vw, 16px);
    color:#18122B;
}
.cell3{
    width: 33.33%;
}

strong{
    font-size: min(2.2vw, 24px);
}


.contact{
    padding: 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-align: center;
    width: 15%;
    transition-duration: 0s;
}
.contactTitle{
    font-size: min(2.5vw, 22px);
}
.contactSegment{
    background-color: #F54D42;
    padding: 12px;
    border-radius: 8px;
    height: min(2.5vw, 34px);
    display: flex;
    justify-content: center;
    margin: 12px;
    align-items: center;
    width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
}
.number{
    display: flex;
    align-items: center;
    height: 34px;
    font-size: min(2.3vw, 24px);
}

.contactIcon{
    width: min(2.2vw, 34px);
    margin-right: 0.5vw;
    height: min-content;
}

.titleBox{

    color: #18122B;
    margin-top: -15px;
    
    display: flex;
    justify-content: space-between;
    width: 100%;
}
sup{
    font-size: min(1.8vw, 16px);
}
 
.title{
    font-size: min(2.2vw, 34px);

    display: flex;
    width: calc(60% - 24px);
    height: min-content;
    align-items: center;
    min-width: 0%;
    font-weight:600;
}
.mapBtn2{
    width: min(9vw,120px);
    height: min-content;
    display: flex;
    margin: auto;
    margin-right: 0%;
    padding: 10%;
    border-radius: 8px;
    background-color: #F54D42;
    align-items: center;
}
.mapLink{
    display: flex;
    width: calc(20% + 24px);
    min-width: 0%;
    justify-content: center;
    justify-items: center;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.MapBoxText{
    width: min(calc(70% * 1vw), 28px);
    height: min-content;
    font-size: min(2.2vw, 28px);
    font-size: min(calc(70% * 1vw), 28px);
}

.mapIcon{
    width: min(2.2vw, 34px);
    height: min-content;
}

.mainDiv{
    justify-content: center;
}

.space{
    height: min(1.4vw, 20px);
}

@media screen and (max-width: 1700px) {
    .shadowBox{
        width: 65%;
        margin: auto;
        margin-bottom: 24px;
    }
    .contact{
        width: 35%;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .mainDiv{
        display: block;
    }
}