html{
    height: 100%;
}

.pin{
    display: flex;
    position: absolute;
    transform: translate(-50%,-100%);
}
.mainDiv{
    height: fit-content;
    width: 100%;
    height: 100vh;
}

img{
    transition-delay: 10ms;
    width: 100%;
    height: 100%;
    margin: auto;
}
body{
 height: 100%;
}
::-webkit-scrollbar {
    display: none;
}


#mapResizeBtn{
    background-image: url(Images/Icons/minIcon.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    border: 1px solid #6359856c;
    background-color: #FCF5EE;
}

#mapResizeBtn:hover{
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
}
#langBtn{
    width: 34px;
    height: 34px;
    opacity: 0%;
}
.pinImg{
    width: 34px;
}
#mapDiv{
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    transition-duration: 0s;
}
.pinBtn{
    width: fit-content;
    height: fit-content;
    padding: 0%;
    border-radius: 50%;
    border: 2px solid #ff0000;
    background-color: #00000000;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 101;
}
.pinBtn:hover{
    cursor: pointer;
    background-color: #ffffff00;
    box-shadow: none;
}
.mapHouseImg{
    width: 100%;
    height: 30%;
    margin: 0%;
}
.border{
    height: fit-content;
    width: 200px;
    overflow: hidden;
    margin: 0%;
    display: none;
    background-color: #FCF5EE; 
    overflow: hidden;
    position: absolute;
    left: -225%;
    top: 100%
}
td{
    border: 1px solid #6359856c;
    font-size: 14px;
    text-align: center;
}