.site{
    width: fit-content;
    box-sizing: border-box;
    margin: 20px;
    font-size: 20px;
    background-color: white;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
.pic{
    text-align: center;
    width: 400px;
}
